.ce-dd {
    width: 100%;
    text-align: right;
}

.arrow {
    margin-top: 12Px;
    float: right;
    margin-right: 25px;
}

.backbtn {
    float: right;
    display: block;
}

.ta {
    text-align: center;
    padding: 25px;
}