.ce-dd {
    width: 100%;
    text-align: right;
}

.arrow {
    margin-top: 12Px;
    float: right;
    margin-right: 25px;
}

.head-form {
    border: 1px solid #e3e3e3;
    padding: 15px;
    border-radius: 5px;
}