/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



.head-form {
    border: 1px solid #e3e3e3;
    padding: 15px;
    border-radius: 5px;
}

span.invalid-span {
    font-size: 13px;
    color: red;
    position: absolute;
}